<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    A new user signed up: <br />
    Name: @user_name <br />
    Email address: @user_email <br />
  </body>
</html>
